{% extends "signed_in_base.html" %}


{% block content %}

<div class="container">

    <form method="post" action="" class="col-sm-6" style="margin-bottom: 100px;">
        <div>
            {{ form.errors }}
        </div>
        <div class="helptext">
            <ul>
                <li>Your password can&#39;t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can&#39;t be a commonly used password.</li>
                <li>Your password can&#39;t be entirely numeric.</li>
            </ul>
        </div>
            {% csrf_token %}

        <p>
            <label for="id_old_password">Old password:</label>
            <input id="id_old_password" name="old_password" type="password" class="form-control" />
        </p>

        <p>
            <label for="id_new_password1">New password:</label>
            <input id="id_new_password1" name="new_password1" type="password" class="form-control" />
        <p>
            <label for="id_new_password2">New password confirmation:</label>
            <input id="id_new_password2" name="new_password2" type="password" class="form-control" />
        </p>

        <input type="submit" value="Change password" class="btn btn-info" />
    </form>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
